.group{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

label{
  font-size: 20px;
  font-family: 'Poppins';
  color:#000000;
  font-weight: 600;
}

input{
  width: 600px;
  height: 30px;
  font-size: 18px;
  font-family: 'Poppins';
  color:#000000;
  border: none;
  border-bottom: 3px solid grey;
  outline: none;
  background: transparent;
  transition: border-bottom .3s;
}


input:focus{
  border-bottom: 3px solid blue;
  transition: border-bottom .3s;
}


button{
  width: 150px;
  height: 40px;
  background: blue;
  border: none;
  font-family: 'Poppins';
  color:#ffffff;
  margin-right: 30px;
}
